{% extends 'base.html' %}

{% block title %}
    this is title
{% endblock %}

{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>备注</td>
        </tr>
        </thead>

        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.info }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

